@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif; //Averta
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
